body {
  background-color: var(--darkCyan);
  font-family: "Kumbh Sans", sans-serif;
}

.bg-pattern-top,
.bg-pattern-bottom {
  position: absolute;
  z-index: 1;
}

.bg-pattern-top {
  top: -15rem;
  left: -25rem;
}
.bg-pattern-bottom {
  bottom: -15rem;
  right: -25rem;
}

main {
  position: relative;
  z-index: 3;
}
