.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  height: 15rem;

  &-items {
    transform: translateY(-5rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-img {
      border-radius: 50%;
      border: 0.4rem solid #fff;
      margin-bottom: 2rem;
    }

    h2 {
      color: #000;
      margin-bottom: 1rem;
      font-size: 2rem;

      span {
        color: var(--darkGray);
        font-weight: 100;
      }
    }

    .location {
      font-size: 1.4rem;
      color: var(--darkGray);
      text-align: center;
    }
  }
}

.social-stats {
  background: #fff;
  margin: 0;
  padding: 2rem;
  border-top: 0.1rem solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:nth-child(2) {
      margin: 0 5rem;
    }

    .stat-number {
      font-size: 2rem;
      font-weight: 700;
    }
    .stat-type {
      font-size: 1.2rem;
      color: var(--darkGray);
      font-weight: 100;
      letter-spacing: 0.1rem;
    }
  }
}
